<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="PhilTurner_LogViewer::report_logs" title="Download Log Files" module="PhilTurner_LogViewer" sortOrder="100" parent="Magento_Backend::system_tools" action="logviewer/grid/index" resource="Magento_Backend::system"/>
    </menu>
</config>